@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#userhome body {
    font-family: 'Roboto', sans-serif;
}

#userhome .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#userhome h2 {
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#userhome form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    max-width: 400px;
}

#userhome label, input, select, button {
    width: 100%;
    margin-bottom: 10px;
}

#userhome button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#userhome button:hover {
    background-color: #45a049;
}
#userhome .table-container {
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd; /* Optional: adds a border around the table */
}

/* Ensure table takes full width of the container */
#userhome table {
    width: 100%;
    border-collapse: collapse;
}

#userhome th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#userhome th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#userhome tr:hover {
    background-color: #f1f1f1;
}
